---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Conteneur de la vignette */
.project-thumb-figure {
  width: 100%;
  height: 180px;          /* TAILLE UNIQUE */
  overflow: hidden;
  margin: 0;
}

/* Image */
.project-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

