---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Conteneur */
.project-thumb-figure {
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin: 0;
}

/* picture doit remplir le conteneur */
.project-thumb-figure picture {
  display: block;
  width: 100%;
  height: 100%;
}

/* image */
.project-thumb-figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

